# ============================================
# Application Settings
# ============================================
APP_NAME=ValueCell
APP_VERSION=0.1.0
APP_ENVIRONMENT=development
API_DEBUG=true


# ============================================
# API Settings
# ============================================
API_ENABLED=true
API_I18N_ENABLED=true
API_HOST=localhost
API_PORT=8000

# Supported languages: en, zh_CN, zh_TW, ja
# You can interact with the agent in your preferred language.
# This variable is mainly intended for frontend use; setting LANG is not required.
LANG=en
TIMEZONE=America/New_York
PYTHONIOENCODING=utf-8


# ============================================
# Agent Settings
# ============================================
AGENT_DEBUG_MODE=false


# ============================================
# Model Provider Settings
# ============================================
# For more details, see the documentation in the /doc directory.
# To access full functionality, make sure to include an embedding-capable provider.
# You can configure multiple providers below.
# The primary setup uses OpenRouter, along with another provider that supports embeddings.

# Get your API key from: https://openrouter.ai/
# Note: OpenRouter does not currently support embedding or reranker models.
OPENROUTER_API_KEY=

# Get your API key from: https://ai.azure.com/
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION="2024-10-21"

# Get your API key from: https://aistudio.google.com/
GOOGLE_API_KEY=

# Get your API key from: https://siliconflow.cn
# If you obtained your key from https://siliconflow.com, you need to update siliconflow.yaml manually.
SILICONFLOW_API_KEY=

# Get your API key from: https://platform.openai.com/api-keys
OPENAI_API_KEY=

# You can set any OpenAI-compatitble API KEY, but you neeed to configure python/configs/providers/openai-compatible.yaml manully.
OPENAI_COMPATIBLE_API_KEY=
OPENAI_COMPATIBLE_BASE_URL=

# Get your API key from: https://bailian.console.aliyun.com/#/home
DASHSCOPE_API_KEY=

SEC_EMAIL=your.name@example.com

