# Search API
SERPER_API_KEY="YOUR-API-KEY"

# LLM API
DS_MODEL_NAME=deepseek/deepseek-v3.2
DS_BASE_URL=https://openrouter.ai/api/v1/
DS_API_KEY="YOUR-API-KEY'

# VLM API
VLM_MODEL_NAME=openai/gpt-4o
VLM_BASE_URL=https://openrouter.ai/api/v1/
VLM_API_KEY="YOUR-API-KEY"

# EMBEDDING API
EMBEDDING_MODEL_NAME=qwen/qwen3-embedding-4b
EMBEDDING_BASE_URL=https://openrouter.ai/api/v1/
EMBEDDING_API_KEY="YOUR-API-KEY"


